#contlogin{
background-color: rgb(221,230,255);
width: 270px;
height: 180px;
position: absolute;
left: 300px;
top: 110px;
font-size: 12px;
}
#contFondo{
background-color: rgb(255,239,213);
width: 800px;
height: 100px;
position: absolute;
left: 25px;
top: 330px;
font-size: 12px;
}
#cmdIngresar{
position: absolute;
left: 40px;
top: 130px;
width: 100px;
height: 20px;
text-align: left;
font-size: 12px;
}
#pswClave{
position: absolute;
left: 65px;
top: 48px;
width: 100px;
height: 20px;
text-align: left;
font-size: 12px;
}
#passw{
color: rgb(160,160,160);
width: 53px;
height: 13px;
position: absolute;
left: 11px;
top: 54px;
font-size: 12px;
}
#Nombre{
color: rgb(160,160,160);
width: 44px;
height: 13px;
position: absolute;
left: 8px;
top: 21px;
font-size: 12px;
}
#Carnet{
color: rgb(160,160,160);
width: 44px;
height: 13px;
position: absolute;
left: 8px;
top: 75px;
font-size: 12px;
}
#Texto0{
position: absolute;
left: 65px;
top: 20px;
width: 100px;
height: 20px;
text-align: left;
font-size: 12px;
}
#TextoCarnet{
position: absolute;
left: 65px;
top: 74px;
width: 100px;
height: 20px;
text-align: left;
font-size: 12px;
}
#contlogo2{
background-color: rgb(255,218,185);
width: 150px;
height: 50px;
position: absolute;
left: 88px;
top: 25px;
font-size: 12px;
}
#ContLogo1{
background-color: rgb(255,182,193);
width: 50px;
height: 50px;
position: absolute;
left: 36px;
top: 25px;
font-size: 12px;
}
#ContBody{
background-color: rgb(240,255,240);
width: 800px;
height: 300px;
position: absolute;
left: 23px;
top: 21px;
font-size: 12px;
}
body {
width: 100px;
height: 20px;
font-size: 12px;
}
